.project {
  width: 250px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin-right:5px;
  margin-bottom: 5px;
  float:left;
}
.project-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.project-content {
  padding: 20px;
}
.project-title {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  word-wrap: break-word;
}
.project-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
.project-tag{
  float: left;
}
.project-link {
  border-top: 1px solid #eee;
  padding: 20px;
  margin-bottom: 20px;
}
.project-link a {
  text-decoration: none;
  float: right;
  color: #0bd;
  padding-top: 3px;
  margin: 0 10px;
}
.project-link a:hover {
  color: #0090aa;
}
